/* CSS Style for Suspects and Witnesses Pages */

/* style for text font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

/* background colour for the whole page */
.background {
  background-color: #fff4e6; 
}

/* margins on the sides for the whole page */
.margins {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
}

/* style for text in general */
#textstyle {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  margin: 0 auto;
  padding: 2%;
  width: 70%;
}

/* style for image */
img {
  display: block;
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  width: 30%;
  height: 40%;
}

/* aligns text to the left */
.textalign {
  text-align: left;
  margin: 1% auto;
  width: 75%;
}

/* button alignment */
.buttonalign {
  display: flex;
  padding: 5%;
  justify-content: left;
  font-family: sans-serif;
  font-size: 22px;
}

/* button styling */
button {
  background-color: darkred;
  color: white;
  font-size: medium;
  padding: 18px 26px;
  margin: 8px 10px; /* Add horizontal margin to separate buttons */
  border: none;
  cursor: pointer;
  width: 50%;
}

/* Header Styles */
h2 {
  font-size: 30px;
  padding: 5px;
}

h3 {
  font-size: 20px;
  padding: 10px;
}